<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Hot!</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="/css/bootstrap.min-cyborg.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #post-list              { margin-bottom:30px; }
    </style>
</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-app='instadsWebApp' ng-controller="PostsController">
	<div ng-include="'/header.html'"></div>
    <div class="container">
        <!-- HEADER AND TODO COUNT -->
        <!--<div class="jumbotron text-center">
            <h1>Hot Page Instads <span class="label label-info">{{ posts.length }}</span></h1>
        </div>-->

        <!-- TODO LIST -->
        <div id="post-list" class="row">
            <div class="col-sm-12" infinite-scroll='instads.nextPage()' infinite-scroll-disabled='instads.busy' infinite-scroll-distance='1'>
                <div ng-repeat="post in instads.posts">
					#{{post.id_post}} Post Title: {{ post.title }}
					<img ng-show="post.mimetype.indexOf('image') >= 0" class="img-responsive" ng-src="/api/v1/file/post/{{post.file_path}}">
					<video ng-show="post.mimetype.indexOf('video') >= 0" width="100%" controls>
						<source src="/api/v1/video/post/{{post.file_path}}" type="{{post.mimetype}}">
						Your browser does not support the video tag.
					</video>
                </div>
				<div ng-show='instads.busy'>Loading data...</div>
				<div ng-show='instads.end'>There is no more data to show...</div>
            </div>
        </div>
    </div>
	
	<footer ng-include="'/footer.html'"></footer>
	<!-- SPELLS -->
    <script src="js/libs/jquery.js"></script><!-- load jquery -->
    <script src="js/libs/angular.min.js"></script><!-- load angular -->
	<script src="js/libs/angular-ui-router.min.js"></script>
	<script src="js/libs/ng-infinite-scroll.min.js"></script><!-- load infinite scroll -->
    <script src="js/index_controller.js"></script>
	<script>
	$(document).ready(function() {
		setTimeout(function() {
			$(".footer_nav>li").click(function(evt) {
				$(".footer_nav>li").removeClass("active_footer");
				$(this).addClass("active_footer");
			});
			$("video").click(function() {
				if (this.paused == false) {
					this.pause();
				} else {
					this.play();
				}
			});
		}, 500);
	});
	</script>
</body>
</html>