<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<ul class="nav footer_nav">
			<li ng-click="$state.go('home.hot')" ng-class="{active_footer: $state.includes('home.hot')}">
				<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				<span class="glyphicon-class">Hot</span>
			</li>
			<li ng-click="$state.go('home.trending')" ng-class="{active_footer: $state.includes('home.trending')}">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span class="glyphicon-class">Trending</span>
			</li>
			<li ng-click="$state.go('home.competitions')" ng-class="{active_footer: $state.includes('home.competitions')}">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				<span class="glyphicon-class">Vote</span>
				
			</li>
			<li ng-click="$state.go('home.search')" ng-class="{active_footer: $state.includes('home.search')}">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<span class="glyphicon-class">Search</span>
			</li>
		</ul>
	</div>
</nav>