<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<ul class="nav footer_nav">
			<li class="active_footer">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				<span class="glyphicon-class">Hot</span>
			</li>
			<li>
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span class="glyphicon-class">Trending</span>
			</li>
			<li>
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				<span class="glyphicon-class">Vote</span>
			</li>
			<li>
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				<span class="glyphicon-class">Search</span>
			</li>
		</ul>
	</div>
</nav>