<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="instads_posts">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Hot!</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #post-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="/js/ng-infinite-scroll.min.js"></script><!-- load angular -->
    <script src="/js/controller.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-app='instads_posts' ng-controller="PostsController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Hot Page Instads <span class="label label-info">{{ posts.length }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="post-list" class="row">
            <div class="col-sm-12" infinite-scroll='instads.nextPage()' infinite-scroll-disabled='instads.busy' infinite-scroll-distance='1'>
                <div ng-repeat="post in instads.posts">
					#{{post.id_post}} Post Title: {{ post.title }}
					<img ng-show="post.mimetype.indexOf('image') >= 0" class="img-responsive" ng-src="/api/v1/file/post/{{post.file_path}}">
					<video ng-show="post.mimetype.indexOf('video') >= 0" width="100%" controls>
						<source src="/api/v1/video/post/{{post.file_path}}" type="{{post.mimetype}}">
						Your browser does not support the video tag.
					</video>
                </div>
				<div ng-show='instads.busy'>Loading data...</div>
				<div ng-show='instads.end'>There is no more data to show...</div>
            </div>
        </div>
    </div>
</body>
</html>